<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links CDN via jsDelivr-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <!-- Icono de la página -->
    <link rel="shorcut icon" href="https://cdn.icon-icons.com/icons2/48/PNG/128/games_folder_file_10560.png" />
    <!--Link de enlace a la página de estilos-->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Block Jumper</title>
</head>

<!--LLamamos la funcioón startGame() mediante un onload-->
<body onload="startGame()">

    <!--Componentes del bloque de texto-->
    <blockquote class="block" style="background-color: rgb(22, 8, 61);">
        <a class="navbar-brand m-lg-3" href="#">
            <center>
                <h1 class="lisos" style="color: white ;">Block Jumper</h2>
            </center>
        </a>
        <!--Link de enlace a la página de juegos-->
        <a class="nav-item nav-link" style="color: pink;" href="  https://poki.com/es">
            <h3>Más Juegos</h3>
        </a>

    </blockquote>
    <!--Componentes de las tarjetas para las imagenes de los juegos-->
    <div class="card-group">
        <div class="card" style="background-color: rgb(22, 8, 61);">
            <img src="https://i.blogs.es/fdcadb/angry-birds-3/1366_2000.jpg" height="330px" class="card-img-top"
                alt="comercio">

            <h5 class="card-title text-center" style="color: whitesmoke;">ANGRY BIRDS</h5>
        </div>
        <div class="card" style="background-color: rgb(22, 8, 61);">
            <img src=" https://static.13.cl/7/sites/default/files/esports/articulos/field-image/portadamariomovie.jpg"
                height="330px" class="card-img-top" alt="ingreso">
            <h5 class="card-title text-center" style="color: whitesmoke;">SUPER MARIO</h5>
        </div>
        <div class="card" style="background-color: rgb(22, 8, 61);">
            <img src="https://media.redadn.es/imagenes/crash-bandicoot-4-its-about-time-ps4-xbox-one_335340.jpg"
                height="330px" class="card-img-top" alt="...">
            <h5 class="card-title text-center" style="color: whitesmoke;">CRASH</h5>
        </div>
    </div>


    <!-- Links CDN via jsDelivr-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>




    <!--Footer-->
    <footer class="footer p-2" style="background-color: black;">
        <div class="container-footer text-white">
            <center>
                <p>© 2022 Garcés Raquel</p>
            </center>
        </div>
    </footer>
</body>

<!-- Link de nelace al archivo de javascript-->
<script src="../static/js/js.js"></script>

</html>